{{> head}}

{{> navbar}}

<div class="row">
   <div class="col-8">
       <h1>Titulo</h1>
   </div>
   <div class="col-4">
       <img src="https://jdcdn-wabisabiinvestme.netdna-ssl.com/wp-content/uploads/2017/05/vikings1.jpg" alt="" class="img-thumbnail">
   </div>
</div>

{{> footer}}